body {
    display: flex;
    flex-flow: column wrap;
    align-content:space-around;
    justify-content: space-around;
    background-image: url("bobross.png");
    background-position: center;
    background-size: cover; 
}

#title {
    display: flex;
    align-self: center;
    padding-top: 10px;
}

#clear-board, #create-board {
    display: block;
    width: 100px;
    font-size: large;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}

#color-palette {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 400px;
}


#size {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    width: auto;
    justify-self: center;
    justify-content: space-evenly;
}

#size div {
    width: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}

.color {
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.color:hover {
  outline: thick solid #000000 
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.pink {
    background-color: #E04090;
}

.blue {
    background-color: #00AAB9;
}

.green {
    background-color: #93E6BC;
}

.orange {
  background-color: #ffae00;
}

.red {
  background-color: #ff0000;
}

.selected {
  outline: thick solid #000000;
}

.unselected {

}

.selectedPixel {

}

/* Referência para a tabela: https://stackoverflow.com/questions/29229523/how-and-why-to-use-display-table-cell-css  */

#box {
    display: flex;
    align-self: center;
    padding: 10px;
}

#pixel-board {
    display: table;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}
.tr {
    display: table-row;
    padding: 50px;
}
.pixel{
    display: table-cell;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: #000000 solid 1px;
    margin: 5px;
    background-color: white;
}

#bottom-of-page, #top-of-page {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width:fit-content;
  padding: 10px;
}