#color-palette {
    display: inline-block;
}

.color {
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.pink{
    background-color: #E04090;
}

.blue{
    background-color: #00AAB9;
}

.green{
    background-color: #93E6BC;
}

.orange{
    background-color: #ffae00;
}
